---
import SEO from "@/components/SEO.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";

import staff from "@/data/staff.json";

import LinkSocialNetwork from "@/components/LinkSocialNetwork.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<SEO />
	</head>
	<body>
		<ThemeToggle />

		<div class="linktree">
			<h1>Mi Linktree</h1>
			<!-- Avatar -->
			<img src="https://unavatar.io/angelcgar" alt="Mi Avatar" class="avatar" />

			<!-- Descripción -->
			<p class="description">
				¡Hola! Soy Angel. Aquí encontrarás todos mis enlaces importantes.
			</p>

			<!-- Enlaces -->
			{
				staff.professions.map((profecion) => {
					return (
						<article>
							<h2>{profecion.professions_title}</h2>
							{profecion.links.map((link) => (
								<LinkSocialNetwork
									title={link.name}
									url={link.url}
									icon={link.icon}
								/>
							))}
						</article>
					);
				})
			}
		</div>
	</body>
</html>
